<div class="container">
  <div class="title"><h1>DECOLLAGES</h1></div>
  <!--
    3 lines below to be removed
  -->
  <div *ngIf="selectedFilterView">
    airport : {{ selectedFilterView.aeroport.ville + " - " + selectedFilterView.aeroport.nom }}
    <br>
    startDate :{{ selectedFilterView.debut }}
    <br>
    endDate : {{ selectedFilterView.fin }}
    <br>
  </div>
  <div *ngIf="selectedStartDate">startDate : {{ selectedStartDate }}</div>
  <div *ngIf="selectedEndDate">endDate : {{ selectedEndDate }}</div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres (selectedFilterEmitter)=getSelectedFilter($event)></app-filtres>
      </div>
      <div class="bottom">
        <app-liste-vols></app-liste-vols>
      </div>
    </div>
    <div class="right">
      <app-liste-passagers></app-liste-passagers>
    </div>
  </div>
</div>
